@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-950 text-dark-50 antialiased;
  width: 360px;
  min-height: 400px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full;
}

input:focus {
  @apply outline-none ring-2 ring-primary-500 ring-opacity-50;
}
